.navbar-collapse {
    flex-grow: 0;
}

.logo {
    font-family: 'Permanent Marker', cursive;
}

.card {
    padding: 0%;
}

.card__inline {
    display: flex;
    justify-content: space-around;
}

.row {
    margin-left: 0;
    
}

